@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

:root {
  --color-bg: #121212;
  --color-surface: #1e1e1f;
  --color-text: #e0e0e0;
  --color-text-secondary: #a1a1a1;
  --color-border: #2a2a2a;
  --color-tertiary: #525252;

  --color-primary: #bb86fc;
  --color-secondary: #03dac6;
  --color-error: #cf6679;

  box-sizing: border-box;

  --border-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(0, 0%, 41%) 0%,
    hsla(0, 0%, 25%, 0) 50%
  );

  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --eerie-black-1: hsl(240, 2%, 13%);
  --eerie-black-2: hsl(240, 2%, 12%);
  --smoky-black: hsl(0, 0%, 7%);
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 98%);
  --orange-yellow-crayola: hsl(45, 100%, 72%);
  --vegas-gold: hsl(45, 100%, 72%);
  --light-gray: hsl(0, 0%, 84%);
  --light-gray-70: hsla(0, 0%, 84%, 0.7);
  --bittersweet-shimmer: hsl(0, 43%, 51%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  padding: 3rem;
  gap: 2rem;
  background-image: url("src/background.svg");
  color: var(--color-text);
  font-family: "Rubik", sans-serif;
  height: 100vh;
  overflow: hidden;
}

.perfil-box {
  position: sticky;
  top: 3rem;
  background-color: var(--color-surface);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  width: fit-content;
  padding: 1.5rem;
  border-radius: 1.5rem;
  box-sizing: border-box;
  gap: 0.1rem;
  line-height: 1.2;
  border: solid 1px var(--color-border);
  overflow: hidden;
  height: 100%;
}

.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.perfil-img-box {
  background-color: var(--color-tertiary);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  width: 10rem;
  height: 10rem;
  border: solid 1px var(--color-border);
}

.perfil-divider {
  border: none;
  width: 100%;
  height: 1px;
  margin: 0.25rem 0;
}

.perfil-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.perfil-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  width: 100%;
}

.perfil-box h2 {
  margin: 0;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
  text-align: center;
}

.perfil-text p {
  background-color: var(--color-bg);
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem;
  width: 100%;
  border-radius: 5px;
  color: var(--color-text-secondary);
  font-size: 0.8em;
  border: solid 1px var(--color-border);
  text-align: center;
}

hr {
  border: none;
  width: 100%;
  height: 1px;
  background: var(--color-tertiary);
}

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  width: 100%;
  gap: 1rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.item-contact {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.item-contact i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
  width: 1.25em;
  height: 1.25em;
  color: var(--color-secondary);
}

.item-contact-info h3 {
  margin: 0;
  font-weight: 100;
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  color: var(--color-text-secondary);
}

.item-contact p {
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
  font-size: 0.9em;
}

.icon-box {
  position: relative;
  background: var(--border-gradient-onyx);
  width: 45px;
  height: 45px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--orange-yellow-crayola);
  box-shadow: var(--shadow-1) 1px 1px 3px;
  z-index: 1;
}

.icon-box::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--eerie-black-1);
  border-radius: inherit;
  z-index: -1;
}

.social-media-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.social-media-buttons a {
  text-decoration: none;
  color: inherit;
}

.social-media-buttons a:hover {
  color: var(--color-primary);
}

.social-media-buttons i {
  font-size: 1.5em;
  margin: 0;
}

.section-box {
  position: relative;
  background-color: var(--color-surface);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  flex: 1;
  width: 100%;
  padding: 1.5rem;
  border-radius: 1.5rem;
  box-sizing: border-box;
  gap: 1.5rem;
  border: solid 1px var(--color-border);
  overflow: hidden;
}

.section-active {
  display: flex !important;
}

.navbar-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--color-tertiary);
  width: fit-content;
  border-radius: 1rem;
  overflow: hidden;
}

.navbar-list li {
  margin: 0;
  padding: 0.5rem;
  border: solid 1px var(--color-border);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-list li:hover {
  background-color: var(--color-bg);
  cursor: pointer;
}

.navbar-item-active {
  background-color: var(--color-bg);
  font-weight: 500;
}

.section-divider {
  border: none;
  width: 100%;
  height: 3px;
  background: var(--color-secondary);
  border-radius: 50%;
  margin: 0;
}

.navbar-lateral {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: calc(100vh - 6rem);
  position: sticky;
}

.navbar-lateral .button {
  background: var(--color-bg);
  padding: 1rem;
  border: none;
  color: var(--color-text-secondary);
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.705);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Seccion home */

.section-home {
  display: none;

  align-items: left;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.section-home p {
  font-family: "Montserrat", sans-serif;
  color: var(--color-text-secondary);
  font-size: 1em;
  text-align: left;
  width: 80%;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.buttons-box {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
  width: 100%;
  height: fit-content;
  margin-top: 1rem;
}

.section-home .button-about {
  background-color: var(--color-secondary);
  color: var(--color-bg);
  border: none;
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 1em 1.5rem;
  font-size: 1em;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.section-home .button-about:hover {
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}

.look-image {
  position: absolute;
  height: 100%;
  bottom: -1.5rem;
  right: -1.5rem;
}

/* componentes copy */
.section-home .button-cv {
  z-index: 1;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.button-cv.learn-more {
  width: 12rem;
  height: auto;
}

.button-cv.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: var(--color-secondary);
  border-radius: 1.625rem;
}

.button-cv.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: var(--color-bg);
}

.button-cv.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.button-cv.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid var(--color-bg);
  border-right: 0.125rem solid var(--color-bg);
  transform: rotate(45deg);
}

.button-cv.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: var(--color-text);
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.button-cv:hover .circle {
  width: 100%;
}

.button-cv:hover .circle .icon.arrow {
  background: var(--color-bg);
  transform: translate(1rem, 0);
}

.button-cv:hover .button-text {
  color: var(--color-bg);
}

/* Seccion home */

/* Seccion about me */

.section-aboutme {
  display: none;
  align-items: left;
  justify-content: start;
  width: 100%;
  height: 100%;
  gap: 1rem;
  overflow: hidden;
}

.about-me-text {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  flex: 1;
  height: 100%;
}

.section-aboutme h2 {
  margin: 0;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
  text-align: left;
  width: 100%;
}

.about-me-text p {
  font-family: "Montserrat", sans-serif;
  color: var(--color-text-secondary);
  font-size: 0.9em;
  text-align: justify;
  height: 100%;
  line-height: 1.5;
  margin-bottom: 2rem;
  z-index: 2;
  height: fit-content;
}

.about-me-text blockquote {
  font-family: "Montserrat", sans-serif;
  color: var(--color-secondary);
  text-align: center;
  font-style: italic;
}

.section-aboutme .wather {
  position: absolute;
  height: 50%;
  bottom: 0;
  left: -5%;
  z-index: 1;
}

/* Seccion about me */
.navbar-lateral .button:hover {
  background-color: var(--color-secondary);
  color: var(--color-bg);
}

.button-active {
  background-color: var(--color-secondary) !important;
  color: var(--color-bg) !important;
}
.navbar-lateral .button-secondary {
  background: var(--color-text-secondary);
  color: var(--color-bg);
}

.navbar-lateral .button-secondary:hover {
  background: var(--color-tertiary);
  color: var(--color-bg);
}

.section-box h1 {
  margin: 0;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
  text-align: left;
  width: 100%;
}

.section-box .line-decoration {
  border: none;
  width: 50px;
  height: 5px;
  margin: 1rem 0;
  background-color: var(--color-secondary);
  border-radius: 5px;
  margin-bottom: 1rem;
}

/* about services  */

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 35%;
  height: 100%;
}

.services h2 {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
  text-align: left;
  width: 100%;
}

.services-cards {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  z-index: 2;
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--color-secondary) #1e1e1e; /* Firefox */
}

/* Webkit */
.services-cards::-webkit-scrollbar {
  width: 10px;
}

.services-cards::-webkit-scrollbar-track {
  background: #1e1e1e;
}

.services-cards::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 10px;
}

.services-cards::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}

.services-card {
  position: relative;
  background: var(--border-gradient-onyx);
  height: 6rem;
  padding: 1rem;
  border-radius: 1rem;

  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--orange-yellow-crayola);
  box-shadow: var(--shadow-1) 1px 1px 3px;
  z-index: 1;
  gap: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.services-card::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--color-bg);
  border-radius: inherit;
  z-index: -1;
}

.services-icon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.services-icon img {
  width: 2.5rem;
  height: 2.5rem;
}
.services-card:hover {
  transform: translateY(-5px);
}

.services-card h2 {
  margin: 0.2rem 0;
  font-size: 0.8em;
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
}
.services-text p {
  font-family: "Montserrat", sans-serif;
  color: var(--color-text-secondary);
  font-size: 0.6em;
  line-height: 1.5;
  width: fit-content;
}

/* about services  */

/* skills section */

.section-skills {
  position: relative;
  display: none;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  width: 100%;
  height: 100%;
  gap: 1rem;
  z-index: 1;
  overflow: hidden;
}

.section-skills .line-decoration {
  margin: 0;
}

.skills-info {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  background: var(--border-gradient-onyx);
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  gap: 1rem;

  z-index: 1;
}

.skills-info::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--color-bg);
  border-radius: inherit;
  z-index: -2;
}

.skill-active {
  display: flex !important;
}

.skills-info img {
  width: 5rem;
  height: 5rem;
}

.skills-list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.skills-bar {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  width: 40%;
  height: 100%;
}

.skill-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills-bar h3 {
  margin: 0;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
}

.skills-bar p {
  margin: 0;
  font-size: 0.8em;
  font-family: "Montserrat", sans-serif;
  color: var(--color-text-secondary);
}

.skill-header div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.skill-level {
  font-family: "Montserrat", sans-serif;
  color: var(--color-secondary);
  font-size: 0.8em;
  font-weight: bold;
  margin-left: 0.5rem;
}

.skills-bar progress {
  position: relative;
  background-color: var(--color-border);

  width: 100%;
  height: 0.5rem;
  border-radius: 5px;
  overflow: hidden;
}

.skills-bar progress::-webkit-progress-bar {
  background-color: var(--color-border);
}

.skills-bar progress::-webkit-progress-value {
  background-color: var(--color-secondary);
}

.skill-text {
  margin-right: 1rem;
  font-family: "Montserrat", sans-serif;
  color: var(--color-text-secondary);
  font-size: 0.8em;
  flex: 1;
  text-align: justify;
  line-height: 1.5;
  z-index: 2;
}

.skill-code {
  border: none;
  position: relative;
  background: var(--border-gradient-onyx);
  border-radius: 8px;
  padding: 0.5rem;
  display: flex;
  width: 4rem;
  height: 4rem;
  z-index: 1;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-1) 1px 1px 3px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.skill-code::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--color-bg);
  border-radius: inherit;
  z-index: 5;
}

.skill-code img {
  max-width: 100%;
  max-height: 100%;
  z-index: 5;
}

.skill-code:hover {
  transform: translateY(-5px);
}

.sticker-books {
  position: absolute;
  height: 60%;
  bottom: 0;
  left: -5%;
  z-index: 0;
}
/* soft skills */

.soft-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  box-sizing: border-box;
}

.soft-skills-list {
  text-align: center;
  height: 100%;
  flex: 1;
  display: block;
  text-align: center;
}

/* skills section */

/* section projects */
.soft-skills-list p {
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.soft-skills-list span {
  display: inline-block;
  padding: 0.15rem 0.5rem;
  margin: 0 1.5rem;
  background-color: var(--color-bg);
  border-radius: 0.5rem;
  border: 1px solid var(--color-border);
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 0.01em;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
  padding: 0.5rem;
}

.section-projects {
  display: none;
  align-items: left;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 100%;
  gap: 1rem;
  overflow: hidden;
}

.section-projects hr {
  margin: 0 !important;
}

.section-projects h2 {
  margin: 0;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
  text-align: left;
  width: 100%;
}

.section-projects p {
  font-family: "Montserrat", sans-serif;
  color: var(--color-text-secondary);
  font-size: 0.9em;
  text-align: justify;
  height: 100%;
  line-height: 1.5;
  z-index: 2;
  height: fit-content;
}

.projects-cards-container {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  row-gap: 2rem;
  overflow: auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.projects-cards-container::-webkit-scrollbar {
  width: 10px;
}

.projects-cards-container::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 5px;
}
.projects-cards-container::-webkit-scrollbar-track {
  background: var(--color-bg);
  border-radius: 5px;
}
.project h3 {
  font-size: 1em;
  margin: 0.5rem 0;
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
  text-align: left;
}

.project p {
  font-family: "Montserrat", sans-serif;
  color: var(--color-text-secondary);
  font-size: 0.8em;
  text-align: left;
  line-height: 1.5;
  margin: 0;
}

.projects-cards {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 8rem;
  overflow: hidden;
  border-radius: 1rem;

  z-index: 2;
}

.projects-cards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  border: solid 1px var(--color-border);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.705);
}

.projects-cards::before {
  transform: translateY(100%);
  content: "";
  position: absolute;
  inset: 1px;
  background-image: url("src/icons/before.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  border-radius: inherit;
  z-index: 3;
  transition: transform 0.3s ease;
}

.projects-cards:hover::before {
  transform: translateY(0);
}

/* section projects */

/* section contact */
.section-contact {
  display: none;
  align-items: left;
  justify-content: start;
  width: 100%;
  height: 100%;
  gap: 1rem;
  overflow: hidden;
  flex-direction: column;
}

.section-contact .line-decoration {
  margin: 0;
}

.contact-info {
  display: flex;
  align-items: left;
  justify-content: start;
  flex: 1;
  height: 100%;
}
.section-contact h2 {
  margin: 0;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
  text-align: left;
  width: 100%;
}
.section-contact p {
  font-family: "Montserrat", sans-serif;
  color: var(--color-text-secondary);
  font-size: 0.9em;
  text-align: justify;
  height: 100%;
  line-height: 1.5;
  z-index: 2;
  height: fit-content;
}
.input-group {
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 100%;
}

.contact-form {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 35%;
  height: 100%;
}

.contact-form h4 {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
  text-align: center;
  width: 100%;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
}

.contact-form label {
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  align-self: flex-start;
  width: 20%;
}

.contact-form input {
  background-color: var(--color-bg);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: solid 1px var(--color-border);
  flex: 1;
  color: var(--color-text);
}

.contact-form textarea {
  background-color: var(--color-bg);
  border: solid 1px var(--color-border);
  border-radius: 0.5rem;
  padding: 0.5rem;
  resize: vertical;
  min-height: 100px;
  color: var(--color-text);
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: solid 1px var(--color-secondary);
  color: var(--color-text);
}

.contact-form textarea::-webkit-scrollbar {
  width: 5px;
}

.contact-form textarea::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 0.5rem;
}

.contact-social {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  align-items: center;
}

.contact-social p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
  text-align: left;
  width: 100%;
}
.contact-social div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: fit-content;
  gap: 2rem;
  row-gap: 2rem;
}

.contact-social a {
  width: 5rem;
  height: 5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.contact-social img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
  border-radius: 1rem;
}

.contact-form button {
  background-color: var(--color-secondary);
  color: var(--color-bg);
  border: none;
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 0.5rem 1rem;
  font-size: 1em;
  border-radius: 0.5rem;
  cursor: pointer;
  align-self: flex-start;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* animations */

.fadeout {
  animation: fadeout 0.5s ease forwards;
}

.fadein {
  animation: fadein 0.5s ease forwards;
}

@keyframes fadeout {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
