/* =============== SECCION HOME =============== */

.section-home {
  display: none;

  align-items: left;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.section-home p {
  font-family: "Montserrat", sans-serif;
  color: var(--color-text-secondary);
  font-size: 1em;
  text-align: left;
  width: 80%;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.buttons-box {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
  width: 100%;
  height: fit-content;
  margin-top: 1rem;
}

.section-home .button-about {
  background-color: var(--color-secondary);
  color: var(--color-bg);
  border: none;
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 1em 1.5rem;
  font-size: 1em;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.section-home .button-about:hover {
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}

.look-image {
  position: absolute;
  height: 100%;
  bottom: -1.5rem;
  right: -1.5rem;
}

/* =============== COMPONENTES COPY (BOTÓN CV) =============== */
.section-home .button-cv {
  z-index: 1;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.button-cv.learn-more {
  width: 12rem;
  height: auto;
}

.button-cv.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: var(--color-secondary);
  border-radius: 1.625rem;
}

.button-cv.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: var(--color-bg);
}

.button-cv.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.button-cv.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid var(--color-bg);
  border-right: 0.125rem solid var(--color-bg);
  transform: rotate(45deg);
}

.button-cv.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: var(--color-text);
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.button-cv:hover .circle {
  width: 100%;
}

.button-cv:hover .circle .icon.arrow {
  background: var(--color-bg);
  transform: translate(1rem, 0);
}

.button-cv:hover .button-text {
  color: var(--color-bg);
}

/* =============== FIN SECCION HOME =============== */
